{% extends "base.html" %}

{% block content %}

  <div class="label">
    <h1>{{trip_user.get_full_name}}</h1>
    <h3>{{trip_user.username}}</h3>
    <h6>{{following_list|length}} Following</h6>
  </div>

  <div class="user-content">
    {% if request.user.is_authenticated %}
      {% for user in following_list %}
        <div class="jumbotron user-jumbo">
          <ul class="list-unstyled">
            {% if user.followed_user == request.user %}
              <li><a href="{% url 'map_locations:mytrips' %}"><h3>{{user.followed_user.get_full_name}}</h3></a></li>
              <li><a href="{% url 'map_locations:mytrips' %}">{{user.followed_user.username}}</a></li>
            {% else %}
              <li><a href="{% url 'map_locations:trip_list' username=user.followed_user.username %}">
                <h3>{{user.followed_user.get_full_name}}</h3></a>
              </li>
              <li><a href="{% url 'map_locations:trip_list' username=user.followed_user.username %}">
                {{user.followed_user.username}}</a>
              </li>
            {% endif %}
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item">
            {% if user.followed_user.id in follow_list %}
              <a class="follow-link" href="{% url 'followers:unfollow' username=user.followed_user.username %}">Unfollow</a>
            {% else %}
              <a class="follow-link" href="{% url 'followers:follow' username=user.followed_user.username %}">Follow</a>
            {% endif %}
            </li>
          </ul>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% include 'follow_js.html' %}

{% endblock %}
